.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.flex-column {
    flex-direction: column;
}

.img-fluid {
    max-width: 100%;
    height: 300px;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #34b7a7;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

*,
::after,
::before {
    box-sizing: border-box;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.img-cont {
    text-align: center;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}