@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

a { @apply text-accent hover:underline; }
.btn { @apply bg-accent text-white px-4 py-2 rounded hover:bg-blue-700 transition; }
.container { max-width: 980px; margin: 0 auto; }
